<div class="card card-pin raco" style="height: 450px; !important;">

    {% unless post.image %}

    <a href="{{site.baseurl}}{{post.url}}" class="d-block p-3">
        <h2 class="card-title title text-white mb-3">{{ post.title }}</h2>
        <small class="d-block text-muted">{{ post.content | strip_html | truncatewords:25 }}</small>
        <div class="more mr-2 mb-2">
            <i class="fa fa-arrow-circle-right text-white" aria-hidden="true"></i>
        </div>
    </a>

    {% endunless %}

    {% if post.image %}

    <div class="wrapcat">

        <span class="gotopost">
             <a href="#!" data-url="{{site.baseurl}}{{post.url}}" data-title="{{ post.title }}"
                class="text-dark shareArticle">
                 <i class="fa fa-share"></i>
                 Partagez !
             </a>
         </span>

    </div>


    <a href="{{site.baseurl}}{{post.url}}">

        <img href="{{site.baseurl}}{{post.url}}" class="card-img" src="{{site.baseurl}}/{{ post.image }}"
             alt="{{ post.title }}">

        <div class="notraco">
            <h2 class="card-title title">{{ post.title }}</h2>
            <div class="more">
                <i class="fa fa-arrow-circle-right text-muted" aria-hidden="true"></i>
            </div>
        </div>

    </a>

    {% endif %}


</div>
