<!--  Replace footer social links here -->

<li class="d-inline-block ml-1 mr-1"><a target="_blank" href="https://www.facebook.com/Acorporate-102328041185643/"
                                        class="text-dark"><i class="fab fa-facebook-f"></i></a>
</li>

<li class="d-inline-block ml-1 mr-1"><a target="_blank" href="https://github.com/ACorporate" class="text-dark"><i
        class="fab fa-github"></i></a></li>

<li class="d-inline-block ml-1 mr-1"><a target="_blank" href="https://wa.me/22891647970" class="text-dark"><i
        class="fa fa-phone"></i></a></li>
