<!--  Replace top menu links here -->

{% if page.url == "/" %}
<li class="nav-item active">
    {% else %}
<li class="nav-item">
    {% endif %}
    <a class="nav-link" href="{{site.baseurl}}/">Accueil</a>
</li>
{% if page.url == "/categories.html" %}
<li class="nav-item active">
    {% else %}
<li class="nav-item">
    {% endif %}
    <a class="nav-link" href="{{site.baseurl}}/categories.html">Catégories</a>
</li>
{% if page.url == "/contact.html" %}
<li class="nav-item active">
    {% else %}
<li class="nav-item">
    {% endif %}
    <a class="nav-link" href="{{site.baseurl}}/contact.html">Contact</a>
</li>
<li class="nav-item">
    <a class="nav-link" target="_blank" href="https://bienvenuelisis.github.io">
        <img class="rounded-circle mr-2" src="{{site.baseurl}}/{{site.avatar}}" width="30"><span class="align-middle"></span></a>
</li>
<li class="nav-item">
    <a class="nav-link"target="_blank" href="https://acorporate.fr">by ACorporate</a>
</li>